.checkboxesContainer {
  padding-left: 16px;
}

.checkbox {
  border: 1px solid #CAD1D4;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 5px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.checked {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background: #41C3A9;
}

.intermediate {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background: #AAAAAA;
}

.checkboxContainer {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
}

.label {
  cursor: pointer;
  display: inline-block;
}

.checkboxInnerContainer {
  display: flex;
  align-items: center;;
}

.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px dotted black;
  font-size: 14px;
  padding-bottom: 2px;
  cursor: pointer;
  margin-right: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 5px;
}

.expandBlank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}

.checkboxAndExpandContainer {
  display: flex;
  align-items: center;
}